@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap");

article {
  margin-top: 0px;
  margin-bottom: 0px;
}
.container {
  display: grid;
  grid-gap: 16px;
  margin: 0px 20px;

  grid-template-columns: repeat(auto-fill, 500px);
  grid-template-rows: 100vh;
  grid-auto-flow: column dense;
  grid-auto-columns: minmax(500px, 1fr);
  max-height: 100vh;
  overflow-y: hidden;
}

body {
  font-family: "Karma";
  overflow-y: hidden;
  margin-bottom: 100px;
  background-color: #f8f2ec;
  color: #514256;
}

mark {
  background-color: #dfd3c3;
}

.title {
  font-family: "Yatra One";
  font-size: 64px;
  line-height: 65px;
  margin-bottom: 20px;
}

.subtitle {
  font-family: "Yatra One";
  font-size: 22px;
}

.muted {
  color: #a89dad;
}
